.bg {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/170544.jpg");
    height: 96vh; 
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}